<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{fragments/htmlHead :: head}"></th:block>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"/>
  <title th:text="#{profile.editTitle}">Edit Profile</title>
</head>
<body>
<div th:replace="fragments/header :: header"> </div>
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" th:text="#{profile.editTitle}">Edit Profile</h4>
      <form th:action="@{/profile/edit}" th:object="${user}" method="post">
        <div class="form-group row">
          <label for="username" class="col-sm-2 col-form-label" th:text="#{profile.username}">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" id="username" name="username" th:value="${user.username}" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label" th:text="#{profile.name}">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" th:value="${user.name}">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label" th:text="#{profile.email}">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" th:value="${user.email}">
          </div>
        </div>
        <div class="form-group row">
          <label for="age" class="col-sm-2 col-form-label" th:text="#{profile.age}">Age</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="age" name="age" th:value="${user.age}">
          </div>
        </div>
        <div class="form-group row">
          <label for="gender" class="col-sm-2 col-form-label" th:text="#{profile.gender}">Gender</label>
          <div class="col-sm-10">
            <select class="form-control" id="gender" name="gender">
              <option th:selected="${user.gender == 'Male'}" th:text="#{profile.male}" >Male</option>
              <option th:selected="${user.gender == 'Female'}" th:text="#{profile.female}" >Female</option>
              <option th:selected="${user.gender == 'Other'}" th:text="#{profile.diverse}" >Other</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="profileDescription" class="col-sm-2 col-form-label" th:text="#{profile.description}">Profile Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="profileDescription" name="profileDescription" rows="3" th:text="${user.profileDescription}"></textarea>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary" th:text="#{profile.saveButton}" >Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>