<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{fragments/htmlHead :: head}"></th:block>
  <title>Pflanzen-Anzeige</title>
  <style>
    .gallery-item {
      margin-bottom: 10px;
    }

    .gallery-item img {
      max-width: 100%;
      height: auto;
      border: 1px solid #ccc;
    }
    body, html {
      background-color: #bdd6ac;
    }
    .favButton{
    position: relative;
    height: 20px;
    }
  </style>
</head>
<body>
<div th:replace="fragments/header :: header"> </div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div th:each="photo, iterStat : ${plant.photos}" class="carousel-item" th:classappend="${iterStat.first} ? 'active'">
                <img th:src="@{'/images/' + ${photo}}" th:alt="${photo}" class="d-block w-100">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h2 th:text="${plant.title}"></h2>

      <p><strong>Preis:</strong> <span th:text="${plant.price}"></span></p>
      <p><strong>Höhe:</strong> <span th:text="${plant.height}"></span></p>
      <p>
        <strong>Mit Topf:</strong>
        <span th:text="${plant.hasPlanter ? 'Ja, ' : 'Nein'}">Mit Topf</span>
        <span th:if="${plant.hasPlanter} == true">Topfumfang:</span>
        <span th:if="${plant.hasPlanter} == true"   th:text="${plant.potCircumference}">Topfumfang</span>
        <span th:if="${plant.hasPlanter} == true"> cm</span></span>
      </p>
      <p><strong>Umfang der Pflanze:</strong> <span th:text="${plant.plantCircumference}"></span></p>
      <p><strong>Beschreibung:</strong> <span th:text="${plant.description}"></span></p>
      <p><strong>Tags:</strong> <span th:text="${plant.getTagsAsString()}"></span></p>

      <a th:href="@{/conversation(plantId=${plant.plantID})}" class="btn btn-primary" id="startConversationButton" >Nachricht schreiben</a>

      <div class = "favButton">
        <form th:if="${!isOnFavesList}" th:action="@{/addToFaves/{id}(id=${plant.plantID})}" method="post">
          <button type="submit" class="btn btn-success">Zur Merkliste hinzufügen</button>
        </form>
      </div>


      <div class="favDeleteButton">
        <form th:if="${isOnFavesList}" th:action="@{/removeFromFaves/{id}(id=${plant.plantID})}" method="post">
          <button type="submit" class="btn btn-danger">Von Merkliste entfernen</button>
        </form>
      </div>


    </div>
  </div>
</div>
</body>
</html>
