<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pflanzen-Anzeige</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
  <style>
    .gallery-item {
      margin-bottom: 10px;
    }

    .gallery-item img {
      max-width: 100%;
      height: auto;
      border: 1px solid #ccc;
    }
    body, html {
      background-color: #bdd6ac;
    }
  </style>
</head>
<body>
<div th:replace="fragments/header :: header"> </div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div th:each="photo, iterStat : ${plant.photos}" class="carousel-item" th:classappend="${iterStat.first} ? 'active'">
                <img th:src="@{'/images/' + ${photo}}" th:alt="${photo}" class="d-block w-100">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h2 th:text="${plant.title}"></h2>

      <p><strong>Preis:</strong> <span th:text="${plant.price}"></span></p>
      <p><strong>Höhe:</strong> <span th:text="${plant.height}"></span></p>
      <p>
        <strong>Mit Topf:</strong>
        <span th:text="${plant.hasPlanter ? 'Ja, ' : 'Nein'}">Mit Topf</span>
        <span th:if="${plant.hasPlanter} == true">Topfumfang:</span>
        <span th:if="${plant.hasPlanter} == true"   th:text="${plant.potCircumference}">Topfumfang</span>
        <span th:if="${plant.hasPlanter} == true"> cm</span></span>
      </p>
      <p><strong>Umfang der Pflanze:</strong> <span th:text="${plant.plantCircumference}"></span></p>
      <p><strong>Beschreibung:</strong> <span th:text="${plant.description}"></span></p>
      <p><strong>Tags:</strong> <span th:text="${plant.getTagsAsString()}"></span></p>
      <a th:href="@{/conversation(plantId=${plant.plantID})}" class="btn btn-primary" id="startConversationButton" >Nachricht schreiben</a>
    </div>
  </div>
</div>






<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-0Q/hFto5+kKOQ0grX8+HMQvJIFWtmzVZiC+3wIGW6ca9AmmSfzsK2+wAqFq4qWzN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>
